footer {
	background-color: white;
	border-top: 1px solid #CCCCCC;
	height: 6rem;
	display: flex;
	flex-direction: column;
	text-align: center;
	justify-content: center;
	position: fixed;
	bottom: 0;
	width: 100%;
}
