* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
}
body {
	color: #484848;
	font-family: Circular,"Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 1.4rem;
}

.container {
	bottom: 3rem;
	margin: 3rem auto;
    max-width: 100rem;
}
